{% extends "base.html" %}

{% block title %}Index adminHours {% endblock %}

{% block scripts%}
<link rel='stylesheet' type='text/css' href='/assets/js/plugins/jquery-week-calendar/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='/assets/js/plugins/jquery-week-calendar/jquery.weekcalendar.css' />
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/jquery-week-calendar/skins/default.css" />
    <script type="text/javascript" src="/assets/js/jquery.js" sync></script>
    <script type='text/javascript' src='/assets/js/plugins/jquery-week-calendar/libs/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='/assets/js/plugins/jquery-week-calendar/libs/jquery-ui-1.8.11.custom.min.js'></script>
    <script type="text/javascript" src="/assets/js/plugins/jquery-week-calendar/libs/date.js"></script>
    <script type='text/javascript' src='/assets/js/plugins/jquery-week-calendar/jquery.weekcalendar.js'></script>

{% endblock %}

{% block content %}


 <script type='text/javascript'>
      var hours = {
        options: {
          timeslotsPerHour: 3,
          timeslotHeight: 30,
          allowEventDelete: true,
          timeslotsPerHour: 1,
          scrollToHourMillis : 0,
          daysToShow: 5,
          displayOddEven: true,
          use24Hour: true,
          timeslotHeight: 60,
          hourLine: true,
          dateFormat: "d-M-Y",
          preventDragOnEventCreation: false,
          defaultEventLength: 1,
          allowEventDelete: true,
          businessHours: {start: 9, end: 20, limitDisplay: true}
        },
    events : [
        {% for hour in hours %}
          { 'id': {{hour.id}}, start: new Date('{{hour.created.isoformat}}'), end: new Date('{{hour.end.isoformat}}'), title: 'Cita {{hour.patient.name}}' },
        {% endfor %}
      ]

    };
    var id = hours.events.length+1;
      $(document).ready(function() {
        var $calendar = $('#calendar').weekCalendar({
          timeslotsPerHour: 1,
          scrollToHourMillis : 0,
          daysToShow: 5,
          displayOddEven: true,
          use24Hour: true,
          timeslotHeight: 60,
          hourLine: true,
          dateFormat: "d-M-Y",
          preventDragOnEventCreation: false,
          defaultEventLength: 1,
          allowEventDelete: true,
          businessHours: {start: 9, end: 20, limitDisplay: true},
          height: function($calendar){
            return $(window).height() - $('h1').outerHeight(true);
          },
          eventRender : function(calEvent, $event) {
            if(calEvent.end.getTime() < new Date().getTime()) {
              // $event.css('backgroundColor', '#aaa');
              // $event.find('.time').css({'backgroundColor': '#999', 'border':'1px solid #888'});
            }
          },
          beforeEventNew: function(calEvent, $event){
            calEvent.end = new Date(calEvent.end - 60*60*60000);


          },
          eventNew : function(calEvent, $event) {
             var $dialogContent = $("#event_edit_container");
             resetForm($dialogContent);
             var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
             var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
             var titleField = $dialogContent.find("input[name='title']");
             var bodyField = $dialogContent.find("textarea[name='body']");


             $dialogContent.dialog({
                modal: true,
                title: "New Calendar Event",
                close: function() {
                   $dialogContent.dialog("destroy");
                   $dialogContent.hide();
                   $('#calendar').weekCalendar("removeUnsavedEvents");
                },
                buttons: {
                   save : function() {
                      calEvent.id = id;
                      id++;
                      calEvent.start = new Date(startField.val());
                      calEvent.end = new Date(endField.val());
                      calEvent.title = titleField.val();
                      calEvent.body = bodyField.val();

                      $calendar.weekCalendar("removeUnsavedEvents");
                      $calendar.weekCalendar("updateEvent", calEvent);
                      $dialogContent.dialog("close");
                   },
                   cancel : function() {
                      $dialogContent.dialog("close");
                   }
                }
             }).show();

             $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
             setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));

          },
          data: function(start, end, callback) {
            if(hours.events.length >0){
              callback(hours);
            }

          }
        });
        function resetForm($dialogContent) {
            $dialogContent.find("input").val("");
            $dialogContent.find("textarea").val("");
         }

      
       function setupStartAndEndTimeFields($startTimeField, $endTimeField, calEvent, timeslotTimes) {

            for (var i = 0; i < timeslotTimes.length; i++) {
               var startTime = timeslotTimes[i].start;
               var endTime = timeslotTimes[i].end;
               var startSelected = "";
               if (startTime.getTime() === calEvent.start.getTime()) {
                  startSelected = "selected=\"selected\"";
               }
               var endSelected = "";
               if (endTime.getTime() === calEvent.end.getTime()) {
                  endSelected = "selected=\"selected\"";
               }
               $startTimeField.append("<option value=\"" + startTime + "\" " + startSelected + ">" + timeslotTimes[i].startFormatted + "</option>");
               $endTimeField.append("<option value=\"" + endTime + "\" " + endSelected + ">" + timeslotTimes[i].endFormatted + "</option>");

            }
            $endTimeOptions = $endTimeField.find("option");
            $startTimeField.trigger("change");
         }

         var $endTimeField = $("select[name='end']");
         var $endTimeOptions = $endTimeField.find("option");

         //reduces the end time options to be only after the start time options.
         $("select[name='start']").change(function() {
            var startTime = $(this).find(":selected").val();
            var currentEndTime = $endTimeField.find("option:selected").val();
            $endTimeField.html(
                  $endTimeOptions.filter(function() {
                     return startTime < $(this).val();
                  })
                  );

            var endTimeSelected = false;
            $endTimeField.find("option").each(function() {
               if ($(this).val() === currentEndTime) {
                  $(this).attr("selected", "selected");
                  endTimeSelected = true;
                  return false;
               }
            });

            if (!endTimeSelected) {
               //automatically select an end date 2 slots away.
               $endTimeField.find("option:eq(1)").attr("selected", "selected");
            }

         });
});
    </script>

    <div id="calendar"></div>
    <div id="event_edit_container">
    <form>
      <input type="hidden" />
      <ul>
        <li>
          <span>Date: </span><span class="date_holder"></span> 
        </li>
        <li>
          <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
        </li>
        <li>
          <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
        </li>
        <li>
          <label for="title">Title: </label><input type="text" name="title" />
        </li>
        <li>
          <label for="body">Body: </label><textarea name="body"></textarea>
        </li>
      </ul>
    </form>
  </div>
{% endblock %}
